h1, h2 {
    text-align: center;
}

li {
    list-style: none;
}

#contenido {
    margin-top: 40px;
}
.delete-task,
.delete-task:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
    height: auto;
}

.edit-task,
.edit-task:hover {
    float: right;
    cursor: pointer;
    color: black;
    font-weight: bold;
    margin-right: 10px;
    height: auto;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.success {
    background-color: #2fc63e;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.unchecked,
.unchecked:hover{
    float: left;
    background-color: #2fc63e;
    text-align: center;
    padding: 1px;
    font-weight: bold;
    width: 24px;
    margin-right: 12px;
    color: white;
}