body {
    background: #4b6cb7;  
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  
    background: linear-gradient(to right, #182848, #4b6cb7);
    color: white;
}

h1, p {
    display: block;
    text-align: center;
    line-height:.8;
}

h2 {
    text-align: center;
}

li {
    list-style: none;
}

#contenido {
    margin-top: 40px;
}
.delete-task,
.delete-task:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
    height: auto;
}

.edit-task,
.edit-task:hover {
    float: right;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    height: auto;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.success {
    background-color: #2fc63e;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.checked,
.checked:hover{
    float: left;
    background-color: #2fc63e;
    text-align: center;
    padding: 1px;
    font-weight: bold;
    width: 24px;
    margin-right: 12px;
    color: white;
    cursor: pointer;
}

.unchecked,
.unchecked:hover{
    float: left;
    background-color: rgb(10, 178, 190);
    text-align: center;
    padding: 1px;
    font-weight: bold;
    width: 24px;
    margin-right: 12px;
    color: white;
    cursor: pointer;
}

.tachar{
    text-decoration: line-through;
    font-weight: bold;
    color: black;
}

.pendiente{
    font-weight: bold;
}