h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.delete-task,
.delete-task:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.edit-task,
.edit-task:hover {
    float: right;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.success {
    background-color: green;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}